@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50;
}

.menu-btn {
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10 
  rounded-xl ring-inset ring-1 ring-zinc-50/10 backdrop-blur-2xl
  hover:bg-zinc-50/[0.02] transition-transform transition-colors active:scale-95;
}

/* Navbar */

.navbar {
  @apply absolute left-0 top-full mt-2 min-w-40 p-2 bg-transparent
  rounded-2xl ring-inset ring-1 ring-transparent scale-90 
  blur-sm invisible opacity-0 transition-[opacity,transform,filter] duration-300 
  md:static md:flex md:items-center md:mt-0 md:opacity-100 
  md:blur-0 md:visible md:scale-100 backdrop-blur-2xl;
}

.navbar.active {
  @apply opacity-100 scale-100 blur-0 visible;
}

.nav-link {
  @apply grid items-center h-8 px-4 text-sm font-navFont uppercase 
  tracking-wide text-zinc-50/50 hover:text-zinc-50 transition-colors;
}

.nav-link.active {
  @apply text-zinc-50 duration-500;
}

.active-box {
  @apply absolute bg-zinc-600 rounded-lg -z-10 transition-[top,left,width,height] duration-500;
}
